@import '~normalize.css';

@font-face {
    font-family: 'ZenLoopRegular';
    src: url('../fonts/ZenLoop-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.text {
    font-family: ZenLoopRegular;
    height: 100%;
    width: 100%;
}