@import '~normalize.css';

@font-face {
    font-family: 'ZenLoopRegular';
    src: url('../fonts/ZenLoop-Regular.ttf') format('truetype');
}
 

body {
    background-image: url('../img/birthday-1061.jpeg');
    font-family: 'ZenLoopRegular';
}

.text {
    font-size: 24px;
    height: 100%;
    width: 100%;
}